header{
    height: 255px;
    text-align: center;
    margin: 0px;
}
header img{
    float: left
}
header h1{
    font-size: 35px;
    padding-top:80px;
}
header p{
    font-size: 20px;
    font-weight: bold;
    color: gray;
    text-align: center;
}



nav{
    clear: both;
    height: 60px;
    background-color: gray;
}
nav a{
    color: azure;
    font-weight: bold;
    width: 100px;
    text-decoration: none;
    display: inline-block;

    margin-top: 20px;
    padding-left: 30px;
    border-right: 2px solid azure;
}


footer{
    height: 60px;
    background-color: lightgray;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}